<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Tutorials</title>
    <link href='styles.css' rel='stylesheet' />
    <script src='https://unpkg.com/vue'></script>
</head>
<body>
    <div id='vue-app'>      
      <h1>Looping through lists</h1>
      <ul>
        <li v-for='(character, index) in characters'>{{ index }}. {{ character }}</li>
      </ul>
      <ul>
        <li v-for='(other, index) in others'>{{ index }}. {{ other.name }} - {{ other.age }}</li>
      </ul>
      <template v-for='(other, index) in others'>
        <h3>{{ index }}. {{ other.name }}</h3>
        <p>{{ other.age }}</p>
      </template>
      <template v-for='other in others'>
        <div v-for='(val,key) in other'>
          <p>{{ key }} - {{ val }}</p>
        </div>
      </template>
    </div>

    <script src='app.js'></script>
</body>
</html>